.containerContato {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 20px;
}

.h2Contato {
    color: white;
    font-size: 4em;
    font-family: serif;
    margin: 20px;
    text-align: left;
    margin-bottom: 100px;
}
.containerConteudoContato{
     display: flex;
     justify-content:space-between;
}
.h3Contato{
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
}
.imgContato{
    width: 30px;
    border-radius: 30%;
    margin: 10px;
}
.pContato{
    color: white;
}
.pDireitosContato{
    margin-top: 30px;
    color: white;
    text-align: center;
}