.header{
    margin: 0px;
    padding: 0px;
}

.headerNav{
    background-color: #fff;
    height: 30px;
    
}
.headerUl{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}